{% extends 'base_dashboard.html.twig' %}

{% block title %}Edit Objectif{% endblock %}

{% block content %}
<div class="mb-5">
    <a href="{{ path('app_home') }}"><img src="assets/images/Logo.png" alt="" loading="lazy"
            style="height: 100px;margin-left:90px" /></a>
</div>
<div class="row">
    <div class="col-3">
    </div>
    <div class="col-lg-6">
        <div class="container" id="saisie-objectif" style="background-color: white;">
            <h1 style="font-size: 25px; text-align: center;">Modification de l'Objectif</h1>
            <div>
                {{ include('objectif/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </div>
    </div>
    <div class="col-2">
    </div>
</div>

{% block style%}

<style>
    @media screen and (max-width : 640px) {}
</style>

{% endblock %}

{% endblock %}